# Compiled Lua sources
luac.out

# luarocks / package files
*.src.rock
*.zip
*.tar.gz

# Object files & Binaries
*.o
*.os
*.ko
*.obj
*.elf
*.dll
*.so
*.dylib
*.exe
*.out

# OS Generated
.DS_Store
Thumbs.db
ehthumbs.db

# IDE & Editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# SmartThings CLI / Logs
*.log